<!--- The site is designed ZGL 02/2021 --->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit" />
		<link rel="shortcut icon" href="{% static 'images/ico/shangbiao.ico' %}" type="image/x-icon">
        <link rel=”canonical” href=”{% url "get_index_page" %}”/>
        <title>404错误</title>
	</head>
	<body>
    {#  以后可以替换成其他的公益广告   #}
    <script type="text/javascript" src="//qzonestyle.gtimg.cn/qzone/hybrid/app/404/search_children.js" charset="utf-8" homePageUrl="{% url 'get_index_page' %}" homePageName="<<回到我的主页"></script>
	</body>
</html>

