<!--- The site is designed ZGL 02/2021 --->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <link rel="shortcut icon" href="{% static 'images/ico/shangbiao.ico' %}" type="image/x-icon">
    <title>500服务器拒绝</title>
    <link rel=”canonical” href=”{% url "get_index_page" %}”/>
        <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="jumbotron jumbotron-fluid">
<div class="container">
    <div class="row justify-content-md-center">
        <img src="{% static 'images/error/500.jpg' %}" class="col" />
    </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>

</html>
